.noSearchResult{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
.searchResult{
    flex: 1 0 auto;
}
.headerFooterBg{
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}